.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .imagen-card {
    background-color: #f3f3f3;
    padding: 0.8rem;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
     width: 100px;   // 👈 ancho fijo
  height: 100px; 
   

    ion-img {
      opacity: 0.8rem;
      width: 100%;
        height: 100%;
        object-fit: cover;
    }
  }
    p {
        
        color: #c7c7c7;
    }
}

.wrapper.active {
    .imagen-card {
        background-color: #6b45bc;
    }
    p {
        color: #1d1d1d;
        font-weight: 600;
    }
}