<ion-content>
  <!-- header -->
   <div class="header">
    <h1>Menu</h1>
    <div class="avatar">
      <ion-img src="" ></ion-img>
    </div>
   </div>


  <!-- searchbar -->
<app-searchbar></app-searchbar>

 <!-- categorias -->
  <div class="categorias">
    <app-categorias *ngFor="let item of categorias " [item]="item" ></app-categorias>
  </div>

  <!-- populares -->
  <div class="populares">
    <app-populares></app-populares>
  </div>


</ion-content>





<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
